html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}

.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
}

.active-btn {
  background-color: #555;
  color: #f1f1f1;
}

#panel {
  width: 500px;
  position: absolute;
  top: 65px;
  right: 5px;
}

#device-panel,
#zone-panel {
  background-color: rgba(4, 34, 46, 0.8);
}

#zone-panel {
  display: none;
  width: 100%;
  height: 400px;
}

#device-panel {
  width: 100%;
  height: 180px;
}

#edit-btn-container {
  padding-left: 20px;
  padding-right: 20px;
}

#GPS-device-container {
  margin: 0px;
  height: 140px;
}

#device-buttons-container,
.zone-buttons-container-scroll {
  height: 100%;
  overflow-y: scroll;
}

#edit-zone {
  margin: 15px;
  padding: 20px;
  padding-top: 0px;
  height: 210px;
  background-color: seashell;
}

#add-new-zone {
  background-color: seashell;
  height: 120px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.coord-cursor {
  /* cursor: crosshair; */
  cursor: url(./iconfinder30.png), auto;
}

.disable-cursor {
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
