<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS Tracker</title><!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/edb0ed1b03.js" crossorigin="anonymous"></script>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>
<style>
    .span-header {
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 1.4em;
        background: -webkit-linear-gradient(45deg, #eee, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .s-p-h-small {
        font-size: 1.2em;
        background: -webkit-linear-gradient(#eee, grey);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .lg-c {
        max-width: 3vw;
        max-height: 3vw;
        animation: logospin 2s linear infinite;
    }

    .head {
        border-bottom: solid 3px #3b3b3b;
    }

    @keyframes logospin {
        0% {
            transform: rotateZ(0);
        }

        100% {
            transform: rotateZ(-360deg);
        }
    }

    .toasts {
        position: absolute;
        display: none;
        max-width: 350px;
        top: 10px;
        right: 10px;
        overflow: hidden;
        font-size: .875rem;
        background-color: rgba(255, 255, 255, .85);
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .1);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: .25rem;
        z-index: 1021;
        animation: showing 0.25s linear;
    }

    .toasts-header {
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .25rem .75rem;
        color: #6c757d;
        background-color: rgba(255, 255, 255, .85);
        background-clip: padding-box;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
    }

    .toasts-body {
        padding: .75rem;
    }

    .toasts.show {
        display: inline-block;
    }

    @keyframes showing {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

<body style="width: 100vw; overflow: hidden;">
    <div class="head bg-dark">
        <nav class="site-header sticky-top py-1 ">
            <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center ">

                <a class="navbar-brand ml-4" href="#"><img src="/views/pblic/img/logo.png" class="lg-c" alt="LOGO"></a>
                <div class="w-75 align-items-center overflow-hidden">
                    <marquee direction="left" class="website-name">
                        <span class="span-header">AZbot</span>
                        <span class="s-p-h-small">Iot website for everyone</span>
                    </marquee>
                </div>
                <div class="ml-auto d-flex align-items-center">
                    <p onclick="toggleMessage()" class="message-contact mr-4"><i class="fas fa-comments"></i></p>
                    <a class="btn btn-so" href="/log-out">
                        <span><i class="fas fa-sign-out-alt"></i></span>
                        Sign out</a>
                </div>
                <style>
                    .message-contact {
                        font-size: 1.5em;
                        margin-bottom: 0px;
                        color: white;
                        cursor: pointer;
                    }

                    .message-contact:hover {
                        color: orange;
                    }

                    .btn-so {
                        border-color: #007bff;
                        color: #007bff;
                    }

                    .btn-so:hover {
                        color: white;
                        background-color: #007bff;
                    }
                </style>
            </div>
        </nav>
    </div>
    <div class="row" style="padding: 0px 0px;">
        <div class=" col-md-2">
            <nav class="tool-board nav d-flex flex-column bd-highlight ">
                <a class=" per-direct" href="/home"><i class="fas fa-home"></i> Home</a>
                <a class=" per-direct" href="/about-system"><i class="far fa-question-circle"></i> About</a>
                <a class=" per-direct" href="/management-account"><i class="far fa-user-circle"></i> Account</a>
                <a class=" per-direct" href="/upgrade-account"><i class="fab fa-ups"></i> Upgrade</a>
                <a class=" per-direct" href="/device-settings"><i class="fab fa-codepen"></i> Device</a>
                <a class=" per-direct" href="/device-trackings"><i class="fas fa-map-marker-alt"></i> Tracking</a>
            </nav>
        </div>
        <style>

            .tool-board {
                background-color: #353c51;
                color: #b2aba3;
                border-right: solid 3px #3b3b3b;
                /* margin-right: -1px; */
                padding: 0px 0px;
                height: 100%;
            }

            .per-direct {
                color: inherit;
                cursor: pointer;
                padding: 10px 10px;
                border-bottom: solid 1px black;
                margin-bottom: 0px;
                font-size: 1.1em;
            }

            .per-direct:hover {
                color: white;
                background-color: #3b3b3b;
                border-bottom: solid 1px white;
            }
        </style>
        <div class="main-board col-md-9 mt-2">
            <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                <div class="row">
                    <div class="col-md-9 px-0">
                        <h2 class="display-4 font-italic">Welcome back <span id="user-acc-name">Bùi Phi Long</span></h2>
                        <p class="lead my-3">Here is some information about you.</p>
                        <div class="show-infor">
                            <p>Contact: <span id="cont-acc">0969359810</span></p>
                            <p>Address: <span id="add-acc">126-Thôn 7-Gia Hiệp-Di Linh- Lâm Đồng</span></p>
                            <p>Email: <span id="mail-acc">long.builong.bui@hcmut.edu.vn</span></p>
                            <p>Date of birth: <span id="dob-acc">10/05/1999</span></p>
                        </div>
                        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Editing ...</a></p>
                    </div>
                    <div class="col-md-3" style="padding: 0px 0px;">
                        <img id="avatar-acc" src="/views/pblic/img/unknown-avatar.jpg" alt=""
                            style="border:outset 4px lightgray;width: 100%;height: auto;border-radius: 50%;">
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">About you</strong>
                            <h3 class="mb-0">Payment management</h3>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                                lead-in to additional content.</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="/views/pblic/img/payment.png" width="200" height="250"></img>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">Device</strong>
                            <h3 class="mb-0">Tracking information</h3>
                            <div class="mb-1 text-muted">Nov 11</div>
                            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                additional content.</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="/views/pblic/img/tracking.png" width="200" height="250"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toasts" id="toasts" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toasts-header">
            <strong class="mr-auto">Message</strong>
            <button onclick="toggleMessage()" type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
        <div class="toasts-body">
            <small>We will contact to you on your sign email!</small>
            <div class="form-group">
                <textarea id="text-consu" class="form-control" rows="4"></textarea>
            </div>
            <button type="submit" id="btn-consufused" class="btn btn-primary mb-2">Send</button>
        </div>
    </div>
    </div>
</body>
<script>
    $.ajax({
        url: "/cli-home/get-some-infor",
        type: "POST",
    }).done(res => {
        if (res) {
            $('#user-acc-name').text(res.Fname + " " + res.Lname);
            $('#cont-acc').text(res.Contact);
            $('#add-acc').text(res.Address);
            $('#mail-acc').text(res.Email);
            $('#dob-acc').text(res.DOB);
            $('#avatar-acc').attr('src', res.Avatar)
        }
    })
    function toggleMessage() {
        document.getElementById('toasts').classList.toggle('show')
    }

    $('#btn-consufused').click(e => {

        $.ajax({
            url: "/cus-consufused/request",
            type: "POST",
            data: {
                Text: $('#text-consu').val()
            }
        }).done(res => {
            if (res) {
                alert("Your message has been sent!")
            }
            else{
                alert("You have restricted messages")
            }
            toggleMessage()
        })
    })
</script>

</html>