<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="../Client/DviceMain/deviceMain.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <p id="user-id-socket" style="display: none;"><%= id %></p>
    <div class="container-fluid">
      <div id="map"></div>
      <div
        id="nav_button_bar"
        style="position: absolute; top: 10px; right: 5px;"
      >
        <button
          class=""
          style="width: 60px; height: 50px; cursor: pointer;"
          onclick="btnToggle(this); location.href='http://localhost:5000/home'"
        >
          <i class="fa fa-home fa-3x" aria-hidden="true"></i>
        </button>
        <button
          class=""
          style="width: 60px; height: 50px; cursor: pointer;"
          onclick="btnToggle(this); location.href='http://localhost:5000/management-account'"
        >
          <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
        </button>
        <button
          class=""
          onclick="btnToggle(this)"
          style="width: 60px; height: 50px; cursor: pointer;"
        >
          <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
        </button>
        <button
          class=""
          onclick="btnToggle(this)"
          style="width: 60px; height: 50px; cursor: pointer;"
        >
          <i class="fa fa-cog fa-3x" aria-hidden="true"></i>
        </button>
        <button
          class="active-btn"
          style="width: 60px; height: 50px; cursor: pointer;"
          onclick="btnToggle(this); location.href='http://localhost:5000/device-trackings'"
        >
          <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
        </button>
        <button
          class=""
          style="width: 60px; height: 50px; cursor: pointer;"
          onclick="btnToggle(this); location.href='http://localhost:5000/log-out'"
        >
          <i class="fa fa-sign-out fa-3x" aria-hidden="true"></i>
        </button>
      </div>
      <div id="panel">
        <div id="device-panel" class="rounded-lg">
          <div
            class="text-left pl-3 font-weight-bold h5 border-bottom text-muted"
          >
            Device Management
          </div>
          <div id="GPS-device-container" class="row">
            <div
              id="device-buttons-container"
              class="col-9 px-2 flex-wrap scrollbar scrollbar-primary"
            ></div>
            <div
              id="edit-btn-container"
              class="col-3 border-left d-flex justify-content-center align-items-center"
            ></div>
          </div>
        </div>

        <div id="zone-panel" class="rounded-lg mt-2">
          <div
            class="text-left pl-3 font-weight-bold h5 border-bottom border-dark text-muted"
          >
            Safe Zones
          </div>
          <div id="edit-zone" class="rounded-lg">
            <div
              class="text-left pl-3 font-weight-bold h6 border-bottom text-muted"
              style="margin-bottom: 5px;"
            >
              Edit Information
            </div>
            <div class="row" style="height: 100%;">
              <div
                class="zone-buttons-container-scroll col-4 justify-content-center border-right border-dark d-flex flex-wrap"
                style="height: 180px;"
              >
                <div class="w-75 mx-auto zone-buttons-container"></div>
              </div>
              <div id="lat-lng-rad" class="col-8">
                <div class="">
                  <div class="">
                    <form class="form-inline d-flex">
                      <label
                        for="latitude"
                        class="h7 font-weight-bold mr-auto p-2"
                        >Latitude</label
                      >
                      <input
                        id="latitude"
                        type="text"
                        placeholder="Latitude"
                        aria-label="Last name"
                        class="form-control input-lat-lng-rad mb-2 p-2"
                      />
                    </form>
                    <form class="form-inline">
                      <label
                        for="logitude"
                        class="h7 font-weight-bold mr-auto p-2"
                        >Logitude</label
                      >
                      <input
                        id="logitude"
                        type="text"
                        placeholder="Longitude"
                        aria-label="First name"
                        class="form-control input-lat-lng-rad mb-2 p-2"
                      />
                    </form>

                    <form class="form-inline">
                      <label
                        for="radius"
                        class="h7 font-weight-bold mr-auto p-2"
                        >Radius</label
                      >
                      <input
                        id="radius"
                        type="text"
                        class="form-control input-lat-lng-rad mb-2 p-2"
                        placeholder="Radius"
                      />
                    </form>

                    <div
                      id="update-btn-container"
                      class="d-flex justify-content-center"
                    >
                      <input
                        id="update-btn"
                        class="input-group-text text-info"
                        data-toggle="modal"
                        data-target="#confirm-update-zone-box"
                        type="button"
                        value="Update"
                      />
                      <span style="padding-left: 10px; color: brown;"
                        ><i
                          style="cursor: pointer;"
                          class="fa fa-trash"
                          data-toggle="modal"
                          data-target="#confirm-delete-zone-box"
                        ></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="add-new-zone" class="rounded-lg">
            <div
              class="text-left pl-3 font-weight-bold h6 border-bottom text-muted"
              style="margin-bottom: 5px;"
            >
              Add New Zone
            </div>
            <form class="form-inline row m-0">
              <button
                id="start-add-zone-btn"
                class="btn btn-outline-secondary col-2"
                type="button"
              >
                Start
              </button>
              <div class="col-sm-5 d-flex flex-column">
                <input
                  id="new-lat"
                  type="text"
                  placeholder="Latitude"
                  aria-label="First name"
                  class="form-control input-new-lat-lng-rad mb-2"
                />
                <input
                  id="new-lng"
                  type="text"
                  placeholder="Logitude"
                  aria-label="First name"
                  class="form-control input-new-lat-lng-rad"
                />
              </div>

              <div class="col-3 d-flex flex-column m-0 pl-0">
                <input
                  id="new-rad"
                  type="text"
                  placeholder="Radius"
                  aria-label="First name"
                  class="form-control input-new-lat-lng-rad"
                />
              </div>

              <button
                id="add-new-zone-btn"
                class="col-2 btn btn-outline-secondary"
                type="button"
              >
                Add
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      id="my-alert"
      class="alert alert-warning alert-dismissible collapse"
      role="alert"
      style="position: absolute; bottom: 10px; left: 40px;"
    >
      <strong>Warning</strong> Fill in all Latitude, Logtitude, Radius!
      <button id="close-alert" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div
      id="input-alert"
      class="alert alert-warning alert-dismissible collapse"
      role="alert"
      style="position: absolute; bottom: 10px; left: 40px;"
    >
      <strong>Warning</strong> Input must be either negative or positive float
      numbers!
      <button
        id="close-input-alert"
        type="button"
        class="close"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div
      id="input-info"
      class="alert alert-info alert-dismissible collapse"
      role="alert"
      style="position: absolute; bottom: 10px; left: 40px;"
    >
      <strong>Hint</strong> You can edit zone via input or double click on
      circle.
      <p
        id="close-input-info"
        type="button"
        aria-label="Close"
        data-dismiss="alert"
      >
        <u>Got it.</u>
      </p>
    </div>
    <div
      id="my-success"
      class="alert alert-success alert-dismissible collapse"
      role="alert"
      style="position: absolute; bottom: 10px; left: 40px;"
    >
      Data has updated!
    </div>
    <div id="confirm-delete-zone-box" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you want to delete the zone ?</p>
          </div>
          <div class="modal-footer">
            <button
              id="confirm-delete"
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
            >
              Yes
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              No
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="confirm-add-zone-box" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you want to add this zone ?</p>
          </div>
          <div class="modal-footer">
            <button
              id="confirm-add"
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
            >
              Yes
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              No
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="confirm-update-zone-box" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you want to update this zone ?</p>
          </div>
          <div class="modal-footer">
            <button
              id="confirm-update"
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
            >
              Yes
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              No
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3UFvoj_1OQ9N6Mzbz1lQu7tRdQnn8_cQ"
    ></script>
  </body>
  <script
    type="text/javascript"
    src="../Client/DviceMain/DeviceMain.js"
  ></script>
</html>
