<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AzBot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/pblic/public.css">
    <script src="https://kit.fontawesome.com/edb0ed1b03.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark head-s-confi">
        <a class="navbar-brand ml-4" href="#"><img src="/views/pblic/img/logo.png" class="lg-c" alt="LOGO"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse collapse-c align-items-center " id="navbarSupportedContent">
            <div class="w-75 text-light align-items-center overflow-hidden">
                <marquee direction="left" class="website-name">
                    <span class="span-header">AZbot</span>
                    <span class="s-p-h-small">Iot website for everyone</span>
                </marquee>
            </div>
            <!-- navbar-right  mr-auto  -->
            <ul class="navbar-nav ml-auto ul-header" style="font-size: 1.1em;">
                <li class="nav-item pl-4 pr-4">
                    <a class="nav-link">Docs</a>
                </li>
                <li class="nav-item pl-4 pr-4" id="s-i-ui-control">
                    <span style="cursor: pointer;" class="nav-link" href="">Sign in</span>
                </li>
                <li class="nav-item rounded" id="s-u-ui-control">
                    <button type="button" class="btn btn-outline-primary">
                        Try free</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid bg-dark pl-0 pr-0 d-flex align-items-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
            style="max-height:80vh;overflow: hidden;">
            <ol class="carousel-indicators  justify-content-start ">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner bg-dark">
                <div class="carousel-item active">
                    <img src="/views/pblic/img/spring-login-background.jpg" class="img-fluid " alt="...">
                </div>
                <div class="carousel-item ">
                    <img src="/views/pblic/img/summer-login-background.jpg" class="img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/views/pblic/img/fall-login-background.jpg" class="img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/views/pblic/img/winter-login-background.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>

        <div class="jumbotron position-absolute ml-4 bg-transparent text-light">
            <div class="container">
                <h1 class="display-4">Share to be better</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its
                    parent.</p>
            </div>
        </div>
        <div class="container-fluid position-absolute ">
            <div class="row">
                <div class="col-md-4 offset-md-4"></div>
                <div class="styling col-md-3 bg-light rounded" id="auth-frame-cont">
                    <!-- DSDASDSDA -->
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="extend bg-dark mt-0">
        <div class="container-fluid ">\
            <div class="row">
                <div class="jumbotron col-lg-4 bg-dark text-light">
                    <h6> Deparment</h6>
                    <p>Address: 126, Thôn 7, Gia Hiệp, Di Linh, Lâm Đồng</p>
                    <p>Contact: 0969359810</p>
                    <p>Work Time: T2-T7 ( 18h30)</p>
                </div>
                <div class="jumbotron col-lg-4 bg-dark text-light">
                    <h6> Branch</h6>
                    <p>Address:126, Thôn 7, Gia Hiệp, Di Linh, Lâm Đồng</p>
                    <p>Contact: 0969359810</p>
                    <p>Work Time: T2-T7 ( 15h30)</p>
                </div>
            </div>
        </div>
    </div>
</body>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="/views/pblic/public.js"></script>

</html>